In [1]:
%%writefile C:\myPyCode\\data\\student_exam_result.csv
학생,국어,수학,영어,체육
A,80,90,70,100
B,70,94,40,50
C,60,53,80,70
D,80,90,90,90

Writing C:\myPyCode\\data\\student_exam_result.csv

In [12]:
import pandas as pd

pd.read_csv('C:\myPyCode/data\\student_exam_result.csv', sep=',', index_col ='학생', encoding='utf-8')

    국어  수학  영어   체육
학생
A   80  90  70  100
B   70  94  40   50
C   60  53  80   70
D   80  90  90   90